@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #171717;
    --foreground: #ffffff;
  }

  /* 1. 라이트 모드 (기본 상태) 일 때 */
  .prose pre {
    background-color: #f5f8f9 !important;
  }
  .prose code span {
    color: var(--shiki-light) !important;
  }

  /* 2. 다크 모드 (.dark 클래스 활성화) 일 때 */
  .dark .prose pre {
    background-color: var(--shiki-dark-bg) !important;
  }
  .dark .prose code span {
    color: var(--shiki-dark) !important;
  }

  /* 3. Tailwind의 기본 스타일이 방해하지 못하도록 초기화 */
  .prose pre code {
    color: inherit !important;
    background-color: transparent !important;
    border-width: 0 !important;
  }
}

@theme inline {
  --font-pretendard: var(--font-pretendard);
  --font-sans: var(--font-pretendard), sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grid-line: hsl(0 0% 50% / 7%);

  --color-primary: hsl(0 0% 0%);
  --color-primary-foreground: hsl(0 0% 100%);

  --color-primary-blue: hsl(236 100% 64%);
  --color-point: #cee15d;

  --color-lightGray: #eeeeee;
  --color-deep-gray: #838383;

  --text-title: 2rem;
  --text-title--line-height: 2.375rem;

  --text-caption: 0.875rem;
  --text-caption--line-height: 1.25rem;

  --text-sub: 0.75rem;
  --text-sub--line-height: 0.875rem;

  --text-description: 1rem;
  --text-description--line-height: 1.188rem;
}

@layer components {
  .bg-pattern {
    @apply bg-[linear-gradient(to_right,var(--color-grid-line)_1px,transparent_1px),linear-gradient(to_bottom,var(--color-grid-line),transparent_1px)] bg-size-[24px_24px];
  }
}
