@import 'tailwindcss';

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #171717;
    --foreground: #ffffff;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: hsl(0 0% 0%);
  --color-primary-foreground: hsl(0 0% 100%);

  --color-primary-blue: hsl(236 100% 64%);

  --color-lightGray: hsl(0 0% 93%);

  --color-deep-gray: hsl(0 0% 51%);
}
